@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Montserra', sans-serif;
	font-size: 18px;
	margin: 45px;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif; 
	font-size: 15px;
	font-weight: bold;
	margin: 30px;
}

a {
	text-decoration: none;
}
 
	}
	